/* D2Coding Font */
@font-face {
  font-family: 'D2Coding';
  src: url('/fonts/D2Coding.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'D2Coding';
  src: url('/fonts/D2CodingBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
