/* Global styles for the application */

/* Disable autofill styling completely */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  caret-color: inherit !important;
}

/* Remove autofill background transition delay */
input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

/* Ensure snackbar notifications appear above all modals and backdrops */
.snackbar-container-root {
  z-index: 9999 !important;
}

/* Notistack container override */
.notistack-SnackbarContainer {
  z-index: 9999 !important;
}

/* Individual snackbar items */
.notistack-MuiContent {
  z-index: 9999 !important;
}
